.nav{
    font-family: 'Bitter', sans-serif;
    font-size: 20px;
    color: #37495D;
    white-space: nowrap;
    padding-left: 5px;
}
.img-nav{
    float: left; padding-top: 10px;
}
a:hover {
    text-decoration-color: #37495D; /* Замените "red" на желаемый цвет */
  }

.whyus{
    font-family: 'Bad Script', serif; font-size: 26px; position: absolute; color: #152638;
}

.whyus_line{
    position: absolute;  width: 50px; aspect-ratio: 1/1;

}

ul{
    list-style-type: none;
}

.price_card{
    margin-top: 100px;
    background: linear-gradient(to right,#ABC6E5, #E6EFFB);
    border:  2px solid #8AAFDA;
    min-height: 205px;
    border-radius: 8%;
    padding-bottom: 18px;

    width: 340px;
    
}

.title_card{
    color: #2C4762;
    font-family: 'Bitter', sans-serif;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 20px
    ;
    font-weight:900 ;
}

.text_card{
    color: #37495D;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight:200 ;
    margin-left: 20px
    ;
    margin-top: 18px;
    margin-bottom: 20px;
}

.price{
    color: #2C4762;
    font-family: 'Bitter', sans-serif;
    font-size: 20px;
    font-weight:200 ;
    
    padding-left: 10px;
    position: relative;
    
}

.down{
    margin-top: 55px;
   
}



.first{
    margin-left: 11%;
}

.price_card {
    position: relative;
    padding-bottom: 33px; /* Увеличьте значение, если требуется больше отступа */
}

.price {
    position: absolute;
    bottom: 15px;
    margin-left: 10px;
    margin-bottom: 0;
}
