<!DOCTYPE html>
<html lang="ru" style="overflow-x: hidden;" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade:wght@400;500&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bad+Script:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antic+Didone:wght@400;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antic+Slab:wght@400;700&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/form.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-image: linear-gradient(to right, #84A6CC, #F4EFEB); ">
    <div class="container" style="margin-top: 75px; margin-bottom: 75px;">
        <div class="row">
            <div class="col-xl-8" style="margin: 0 auto; background-color: rgba(244, 239, 235, 0.5); border: 2px white solid; border-radius: 15px; ">
                  <form method="post">
                      <div style="display: flex; justify-content: center;">
                          <h1 style="font-family: 'Bungee Shade', serif; font-size: 50px;">FEEDBACK</h1>
                      </div>
                      <div style="display: flex; justify-content: space-between;   flex-wrap: wrap; margin-top: 35px;">
                          <div class="form-group">
                              
                              <input  type="text" class="form-control input" id="name" placeholder="Name" name="name" required>
                            </div>
                            <div class="form-group">
                              
                              <input type="tel" class="form-control input" id="phone" placeholder="Telephone" name="tel" required>
                            </div>
                            <div class="form-group">
                    
                              <input type="email" class="form-control input" id="email" placeholder="Email" name="email" required>
                            </div>
                            <div class="form-group">
                          
                              <select class="form-control input" name="service" required >
                            
                                <option>Сайт-візитка</option>
                                <option>Сайт корпоративний</option>
                                <option>Landing-page</option>
                                <option>Розробка логотипу</option>
                                <option >Інтернет-магазин</option>
                                <option >Додаткові послуги</option>
                              </select>
                            </div>
                            <div class="form-group" id="message">
                            
                              <textarea class="form-control input" style="max-height: 150px;" rows="5" placeholder="Message" name="message"></textarea>
                            </div>
                          
                      </div>
                      <div style="display: flex; justify-content: center;">
                          <button type="submit" class="btn btn-light" id="btn-form">Send</button></div>
                    
                
                  </form>
              
            </div>
        </div>
    </div>

    
</body>
</html>