<!DOCTYPE html>
<html lang="ru" style="overflow-x: hidden;" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap" rel="stylesheet">


<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bad+Script:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antic+Didone:wght@400;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antic+Slab:wght@400;700&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style1.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color: #F4EFEB;">
  <div id="semi-round" ></div>
    <header>
      <div class="container">

        <nav class=" navbar navbar-expand-lg navbar-light ">
          <a class= " navbar-brand" href="#" id="wyvi" ><img src="/static/img/Group 56.svg" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="col-lg-1 offset-lg-0 col-xl-5  collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center; margin: 0 auto;">
            <ul class="navbar-nav mr-auto header_list">
              <li class="nav-item active">
                <a class="nav-link" href="#">Про нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Послуги</a>
              </li>
        
              <li class="nav-item">
                <a class="nav-link " href="#" >Контакти</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#" >Етапи роботи</a>
              </li>
            </ul>
          
          </div>
          
          <button class="col-lg-2 offset-lg-0 col-xl-2 offset-xl-0 btn btn-info nav-item" id="declaration"><a href="/makeoffer" style="color: white; text-decoration: none;">Залишити заявку</a></button>
        </nav>
        
      </div>
     
    </header>
    
    <main >
   

        <div style="display: flex; justify-content: center; width: 100%;">
            <div style="background: url(/static/img/Group\ 53\ \(1\).svg) center center no-repeat; justify-self:center ; background-size: contain; width: 540px; height: 208px; display: flex; align-items: center; justify-content: center;">
                <h1 id="stages">Stages of work</h1>
            </div>
        </div>
        
        <div class="container">
            <div class="row" >
        
  
                <ul  class="stages_list">
                <li class="scale-animation">
                    <h2>
                        Брифінг
                    </h2>
                    <p>
                        Наша команда вивчає Ваш запит, ми обговорюємо проект, завдання та вносимо уточнення.
                    </p>
                </li>
                <li class="scale-animation">
                    <h2>
                        Погодження вартості та термінів роботи
                    </h2>
                    <p>
                        Виходячи з деталей обговорення проекту ми погодимо вартість та термін роботи.
                    </p>
                </li>
                <li class="scale-animation">
                    <h2>
                        передоплата
                    </h2>
                    <p>
                        Далі Ви вносите передоплату 50% від суми проекту і ми розпочинаємо роботу.
                    </p>
                </li>
                <li class="scale-animation">
                    <h2>дизайн - концепція</h2>
                    <p>
                        Наша команда створює дизайн концепцію на основі складеного ТЗ, фірмового стилю та Ваших побажань.
                    </p>
                </li>
                <li class="scale-animation">
                    <h2>внесення правок </h2>
                    <p>Ви пишете список правок, ми все обговорюємо і вносимо їх у проєкт.

                        Ви можете внести в дизайн-концепцію 2 списки правок, 3-ий оплачується окремо.</p>
                </li>
                <li class="scale-animation">
                    <h2>адаптиви</h2>
                    <p>Ми адаптуємо дизайн під різні види пристроїв і відсилаємо Вам на затвердження. 

                        Ми їх обговорюємо і вносимо правки.</p>
                </li>
                <li class="scale-animation">
                    <h2>
                        Передача проєкту та постоплата 
                    </h2>
                    <p>Ви приймаєте роботу, тестуєте весь функціонал і вносите оплату, що залишилася.</p>
                </li>
        </ul>

          
            </div>

           <img src="/static/img/Ellipse 27.svg" alt="">       </div>
        
        
    </main>
      <footer>
      
        <div class="container">
          <div  class="footer_cont">
              <a href="tel:+380930322631" class="footer_text footer-col ">+380 93 032 2631</a>
              <a href="mailto:wyviwebwizards@gmail.com" class="footer_text footer-col">wyviwebwizards@gmail.com</a>
              <a class="footer_text footer-col">
                <img src="/static/img/icons8-телеграм-50 1.svg" class="footer_icon" alt="">
                Telegram
              </a>
              <a class="footer_text footer-col">
                <img src="/static/img/icons8-viber-50 1.svg" class="footer_icon" alt="">
                Viber
              </a>
              <a class="footer_text footer-col">
                <img src="/static/img/icons8-whatsapp-30 1.svg" class="footer_icon" alt="">
                Whatsapp
              </a>
            </div>
        </div>
  
      </footer>
<script>function isElementInViewport(element) {
    var rect = element.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }
  
  var elements = document.querySelectorAll(".scale-animation");
  
  function handleScroll() {
    elements.forEach(function (element) {
      if (isElementInViewport(element)) {
        element.classList.add("animate");
      } else {
        element.classList.remove("animate");
      }
    });
  }
  
  window.addEventListener("scroll", handleScroll);
  </script>
  <script>
    window.addEventListener('resize', function() {
      var buttonContainer = document.getElementById('buttonContainer');
      var declarationButton = document.getElementById('declaration');
      if (window.innerWidth < 992) {
        // Если размер экрана меньше 992 пикселей, переместите кнопку в другой div
        var newContainer = document.getElementById('newButtonContainer');
        newContainer.appendChild(declarationButton);
      } else {
        // Если размер экрана больше или равен 992 пикселей, верните кнопку в исходное место
        buttonContainer.appendChild(declarationButton);
      }
    });
  </script>
</body>
</html>