<!DOCTYPE html>
<html lang="ru" style="overflow-x: hidden;" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/style1.css">

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bad+Script:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antic+Didone:wght@400;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Antic+Slab:wght@400;700&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color: #F4EFEB;">
  <header style="background: none;">
    <div class="container">

      <nav class=" navbar navbar-expand-lg navbar-light " id="buttoncont">
        <a class= " navbar-brand" href="#" id="wyvi" style="margin-top: 0;" ><img src="/static/img/Group 49.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="col-lg-1 offset-lg-0 col-xl-5  collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center; margin: 0 auto;">
          <ul class="navbar-nav mr-auto header_list">
            <li class="nav-item active">
              <a class="nav-link" href="#">Про нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Послуги</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link " href="#" >Контакти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/roadmap" >Етапи роботи</a>
            </li>
          </ul>
        
        </div>
        <button class="col-lg-2 offset-lg-0 col-xl-2 offset-xl-0 btn btn-info nav-item" id="declaration"><a href="/makeoffer" style="color: white; text-decoration: none;">Залишити заявку</a></button>
       
      </nav>
      
    </div>
   


          
        <div class="row" style="margin-top: 110px;">
        
                <div style="text-align: center; justify-content: center; background: url(/static/img/Group\ 50.svg) center center; width: 100%; display: flex; flex-direction: column; align-items: center; height: 420px; background-size: contain; background-repeat: no-repeat; "  id="move">
                    <h1 >
                        WEB DEVELOPER
                    </h1>
                    <h2 id="h2_header" >
                        Open the door to the online world with us!
                    </h2>
                </div>
                
              <!--   <div style="width: 250px; aspect-ratio: 1/1; border-radius: 50%; background-color: #D4E3F4; transform: translate(-30%, -100%); opacity: 0.5; filter: blur(5px); z-index: -1; position: absolute;"></div>
                
                <div style="width: 300px; aspect-ratio: 1/1; border-radius: 50%; background-color: #D4E3F4; transform: translate(240%, -140%);  opacity: 0.5; filter: blur(5px); z-index: -1; position: absolute;"></div>
        -->
        
            
            
        </div>
        
    </header>
    <main style=" position: relative; margin-top: 100px;">
        <div style="background: url(/static/img/Group\ 52.svg) center center no-repeat; position: absolute; width: 100%; height: 200%; z-index: -1; top: -25%;"></div>
        
        <div class="container" >
            <div class="row" >
                <div class="col-8 offset-2" style="position: relative; ">
          <!--           <div style="background: url(/static/img/Ellipse\ 25.svg) center center no-repeat; transform: translate(150%, 40%);  width: 359px; aspect-ratio: 1/1; position: absolute;"></div> -->
                    <div style="background: url(/static/img/Ellipse\ 26.svg) center center no-repeat; width: 300px; aspect-ratio: 1/1; transform: translate(-100%, 140%); position: absolute;"></div>
                    <h2 id="aboutus">ABOUT US</h2>
                  <p style="color: #152638; font-family: 'Bitter', serif; font-size: 20px; margin-top: 20px; z-index: 2;">
                    Ласкаво просимо на наш сайт! Ми - команда веб-розробників, відданих створенню та розробці цифрових рішень. <br><br>
                    Наша мета – допомогти бізнесам та приватним особам встановити онлайн-присутність через передові веб-сайти. Ми поєднуємо наші навички веб-розробки з розумінням принципів дизайну. <br><br>
                    Зв'яжіться з нами сьогодні, і разом ми створимо чудовий веб-сайт, який дійсно відобразить ваш бренд і досягне ваших цілей.
                  </p>
                  <img src="/static/img/Linked Path Group (2).svg" style="position: absolute; transform: translate(-170%, -100%) rotate(-21deg); top: 50%; left: 50%;" alt="">
                </div>
              </div>
              
        </div>
    </main>
    <!-- <section style="margin-top: 400px;position: relative;  " id="parentContainer">
           <div style="display: flex; justify-content: center; align-items: center; "><div style="width: 325px; aspect-ratio: 355/310; border-radius: 50%; border: 2px solid #1A2C3E; text-align: center;">
                <ul style="position: relative;">
                    <li class="whyus childElements" style="transform: translate(-110%, -130%);">
                        Майстерність веб-технологій
                    </li>
                    <li class="whyus childElements" style="transform: translate(60%, -180%);">
                        Індивідуальний підхід
                    </li>
                    <li class="whyus childElements" style="transform: translate(-130%, 650%);">
                        Технологічний прогрес
                    </li>
                    <li class="whyus childElements" style="transform: translate(30%, 880%);">
                        Партнерство та комунікація
                    </li>
                    <li class="whyus childElements" style="transform: translate(130%, 250%);">
                        Результат-орієнтованість
                    </li>
                </ul> 
                <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; font-size: 32px;"><h3 style="font-family: 'Bitter', serif;">
                    Чому саме ми
                </h3></div>
                <img src="/static/img/icons8-курчавая-стрела-96 1.svg" class="whyus_line" style=" transform: translate(-350%, -600% );"></img>
                <img src="/static/img/icons8-изогнутая-линия-96 1.svg" class="whyus_line" style="transform: translate(150%, -650%);" alt="">
                <img src="/static/img/icons8-курчавая-стрела-90 1.svg" class="whyus_line" style="width: 70px; transform: translate(-320%, -150%);" alt="">
                <img src="/static/img/icons8-курчавая-стрела-96 2.svg" class="whyus_line" alt="">
                <img src="/static/img/icons8-курчавая-стрела-90 2.svg" class="whyus_line" style="transform: translate(230%, -250%) rotate(380deg); width: 70px; ;" alt="">
                </div>
                
                </div>
      
        
      
        
                
    </section> -->

    <section style="margin-top: 400px; position: relative; " id="parentContainer">
      
        <div style="display: flex; justify-content: center; align-items:flex-start;; " id="whyus"> <img src="/static/img/Group 79.svg" id="myImg" style="transform: scale(1.5); width: 100%; " alt="" >
 </div>
        
       
         
                 
     </section>
    <section style="margin-top: 300px;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="background: url(/static/img/Group\ 53.svg) center center no-repeat; width: 430px; height: 208px; background-size: contain; display: flex; justify-content: center; align-items: center; ">
                <h2 id="price_h2">PRICE</h2>
            </div>

        </div>
        <div class="container">
            <div class="row " style="display: flex; justify-content: center">
                <div class="col-md-7 col-lg-3   price_card scale-animation" >
                    <h3 class="title_card">
                        Сайт візитка
                    </h3>
                    
                    <p class="text_card">
                        Сайт-візитка містить конкретну інформацію про Вашу діяльність та пропоновані послуги.
                    </p>
                    <span class="price">Від 100$</span>
                </div>
                <div class="col-md-7  col-lg-3 offset-lg-1 price_card scale-animation " >
                    <h3 class="title_card">
                        Сайт корпоративний
                    </h3>
                    <p class="text_card">
                        Інформаційний сайт, який містить від 3 до 6 сторінок і призначений для фірм, компаній та агентств.
                    </p>
                    <span class="price">Від 200$</span>
                </div>
                    <div class="col-md-7 col-lg-3 offset-lg-1 price_card scale-animation">
                        <h3 class="title_card">
                            Сайт Landing page
                        </h3>
                        <p class="text_card">
                            Односторінковий сайт, який призначений для продажу послуги або невеликої кількості товару аудиторії.
                        </p>
                        <span class="price">Від 150$</span>
                    </div>
                
            </div>
        </div>  
       <!--  <div class="container">
            <div class="row" style="margin-top: -60px;">
                <div class="price_card" style="margin-left: 0px;">
                    <h3 class="title_card">Сайт візитка</h3>
                    <p class="text_card">Сайт-візитка містить конкретну інформацію про Вашу діяльність та пропоновані послуги.</p>
                    <span class="price">Від 100%</span>
                 </div>
                 <div class="price_card" style="margin-left: 5%;">
                    <h3 class="title_card">Сайт візитка</h3>
                    <p class="text_card">Сайт-візитка містить конкретну інформацію про Вашу діяльність та пропоновані послуги.</p>
                    <span class="price">Від 100%</span>
                 </div>
                 <div class="price_card" style="margin-left: 5%;">
                    <h3 class="title_card">Сайт візитка</h3>
                    <p class="text_card">Сайт-візитка містить конкретну інформацію про Вашу діяльність та пропоновані послуги.</p>
                    <span class="price">Від 100%</span>
                 </div>
                 <div class="price_card down" style="margin-left: 0px;">
                    <h3 class="title_card">Сайт візитка</h3>
                    <p class="text_card">Сайт-візитка містить конкретну інформацію про Вашу діяльність та пропоновані послуги.</p>
                    <span class="price">Від 100%</span>
                 </div>
                 <div class="price_card down" style="margin-left: 5%;">
                    <h3 class="title_card">Сайт візитка</h3>
                    <p class="text_card">Сайт-візитка містить конкретну інформацію про Вашу діяльність та пропоновані послуги.</p>
                    <span class="price">Від 100%</span>
                 </div>
                 <div class="price_card down" style="margin-left: 5%;">
                    <h3 class="title_card">Сайт візитка</h3>
                    <p class="text_card">Сайт-візитка містить конкретну інформацію про Вашу діяльність та пропоновані послуги.</p>
                    <span class="price">Від 100%</span>
                 </div>

            </div>
            
            


        </div> -->
         

    </section>


    <footer>
      
      <div class="container">
        <div  class="footer_cont">
            <a href="tel:+380930322631" class="footer_text footer-col">+380 93 032 2631</a>
            <a href="mailto:wyviwebwizards@gmail.com" class="footer_text footer-col">wyviwebwizards@gmail.com</a>
            <a class="footer_text footer-col">
              <img src="/static/img/icons8-телеграм-50 1.svg" class="footer_icon" alt="">
              Telegram
            </a>
            <a class="footer_text footer-col">
              <img src="/static/img/icons8-viber-50 1.svg" class="footer_icon" alt="">
              Viber
            </a>
            <a class="footer_text footer-col">
              <img src="/static/img/icons8-whatsapp-30 1.svg" class="footer_icon" alt="">
              Whatsapp
            </a>
          </div>
      </div>

    </footer>

<script>
var image = document.getElementById("myImg");
var container = document.getElementById('parentContainer')
var smallScreenWidth = 695;

function checkScreenWidth() {
  if (window.innerWidth < smallScreenWidth) {
    
  
  } else {
    image.src = "/static/img/Group 79.svg";
  }
}

// Проверка ширины экрана при загрузке страницы и при изменении размера окна
window.addEventListener("DOMContentLoaded", checkScreenWidth);
window.addEventListener("resize", checkScreenWidth);




</script>


<script>
  // Получить ссылку на ваш элемент div
  var myDiv = document.getElementById("header_row");

  // Функция для проверки ширины экрана и добавления/удаления класса "fixed-top"
  function toggleFixedTopClass() {
    if (window.innerWidth <= 992) {
      myDiv.classList.add("fixed-top");
    } else {
      myDiv.classList.remove("fixed-top");
    }
  }

  // Вызвать функцию toggleFixedTopClass при загрузке страницы и изменении размера окна
  window.addEventListener("load", toggleFixedTopClass);
  window.addEventListener("resize", toggleFixedTopClass);
</script>
<script>

const showDiv = document.querySelector('.show');
const headerRow = document.getElementById('header_row');

if (showDiv) {
  headerRow.style.backgroundColor = 'white';
}

</script>

<script>function isElementInViewport(element) {
  var rect = element.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}

var elements = document.querySelectorAll(".scale-animation");

function handleScroll() {
  elements.forEach(function (element) {
    if (isElementInViewport(element)) {
      element.classList.add("animate");
    } else {
      element.classList.remove("animate");
    }
  });
}

window.addEventListener("scroll", handleScroll);
</script>
<script>
  window.addEventListener('resize', function() {
    var buttonContainer = document.getElementById('buttoncont');
    var declarationButton = document.getElementById('declaration');
    if (window.innerWidth < 992) {
      // Если размер экрана меньше 992 пикселей, переместите кнопку в другой div
      var newContainer = document.getElementById('move');
      newContainer.appendChild(declarationButton);
    } else {
      // Если размер экрана больше или равен 992 пикселей, верните кнопку в исходное место
      buttonContainer.appendChild(declarationButton);
    }
  });
</script>
</body>
</html>